mat-card {

  &.mauvais-etat {

    background-color: #f9a9b2;

  }
}


mat-card-subtitle {

  .prix {
    font-size: 16px;
    font-weight: bold;
  }

  .etiquette {
    font-size: 12px;
    border-radius: 5px;
    margin-left: 5px;
    padding: 3px;
    background-color: white;
  }

}
